.header{
  display: flex;
  flex-flow: row nowrap;
  flex: 1 0 auto;
  width: 100vw;
  align-items: flex-start;
  border-bottom: 2px solid $peach;

   .header-img{
     padding: 10px 0px 20px 0px;
     margin: 0px 66px;
   }
}