.green1{
  background-color: #12a580;
}

.blush{
  background-color: #d51271;
}

.red1{
  background-color: #c12020;
}

.orange{
  background-color: #c89616;
}

.peach{
  background-color: #e25a2c;
}

.test {
  background-color: yellow;
}
